* {
  /* stylelint-disable length-zero-no-unit */
  margin: 0px;

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* start to homepage */
.homepage-container {
  display: grid;
  grid-template-columns: 1349px;
  justify-self: center;
  height: 900px;
  background-color: #1c1a19;
}

.header {
  display: flex;
  background-color: #3c3a39;
  width: 1349px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
  z-index: 2;
}

.logo-text {
  color: white;
  margin-top: 30px;
  margin-left: 150px;
  font-family: 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  display: inline-flex;
  width: 100vh;
}

.navigation {
  display: flex;
  width: fit-content;
  height: 100px;
  align-items: center;
  margin-left: 50px;
  gap: 20px;
}

.nav-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.menu-bar {
  display: none;
}

.section2 {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.intro-text {
  display: grid;
  grid-template-columns: 683px;
  row-gap: 15px;
  margin-top: 80px;
  margin-left: 150px;
}
.text1 {
  color: #F55800;
  font-size: 75px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
}

.text2 {
  color: white;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.text3 {
  color: white;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.bottom {
  transform: translate(-14px,-223px);
  /* display: flex;
  flex-direction: column;   */
}

.icons  {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  align-items: center;
}

.image {
  display: none;
}

.image-1 {
  z-index: 1;
  transform: translate(710px, -690px);
}

/* end to homepage */