* {
  /* stylelint-disable length-zero-no-unit */
  margin: 0px;

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

  text-decoration: none;
}

.mail {
  display: none;
}

body {
  background-color: #1c1a19;
  min-width: 28.4vw;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
}

.doc-container {
  display: grid;
}

.intro-container {
  display: grid;
  grid-template-columns: 400px;
  gap: 5vh;
  justify-content: center;
  height: 900px;
}

.header {
  display: flex;
  background-color: #3c3a39;
  height: 15vh;
}

.navigation {
  margin-top: 5vh;
  margin-right: 5vh;
}

.logo-text {
  color: white;
  margin-top: 3vh;
  margin-left: 1.5vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  width: 100vh;
}

.menu-bar {
  width: 80px;
  height: 80px;
  margin-top: 6vh;
}

.section2 {
  display: grid;
  grid-template-columns: 300px;
  gap: 5vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.intro-text {
  display: flex;
  gap: 2vh;
  flex-direction: column;
}

.text1 {
  color: #ff6b00;
  font-size: 8vh;
  font-family: 'crete round', sans-serif;
  margin-left: 2vh;
  margin-top: 8vh;
}

.text2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  color: white;
  font-weight: 600;
  height: 10vh;
  margin-left: 2vh;
}

.text3 {
  font-family: 'poppins', sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: none;
  margin-left: 2vh;
}

ul {
  list-style-type: none;
}

.bottom {
  height: 38vh;
  gap: 3vh;
}

.image {
  width: 100vh;
  height: 100vh;
  transform: translate(-7vh, -90vh);
}

.linkedn {
  transform: translate(4vh, -5vh);
}

.angellist {
  transform: translate(11vh, -10vh);
}

.twitter {
  transform: translate(14vh, -15vh);
}

.github {
  transform: translate(21vh, -20vh);
}

@media only screen and (min-width: 375px) {
  .image {
    width: 100vh;
    height: 100vh;
    transform: translate(2vh, -90vh);
  }

  .linkedn {
    transform: translate(4vh, -6vh);
  }

  .angellist {
    transform: translate(11vh, -11.5vh);
  }

  .twitter {
    transform: translate(14vh, -17.5vh);
  }

  .github {
    transform: translate(21vh, -23.5vh);
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 100vh;
    height: 100vh;
    transform: translate(-7vh, -90vh);
  }

  .linkedn {
    transform: translate(4vh, -5vh);
  }

  .angellist {
    transform: translate(11vh, -10vh);
  }

  .twitter {
    transform: translate(14vh, -15vh);
  }

  .github {
    transform: translate(21vh, -20vh);
  }
}

/* end of mobile part one portfolio */

.work-section-container {
  background-color: white;
  display: grid;
  grid-template-columns: 360px;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-top: 24vh;
}

.title-1 {
  font-family: 'Crete Round', sans-serif;
  font-size: 7vh;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
}

.line-top {
  margin-left: 2.6vh;
}

.work-grid-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 300px;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  justify-content: center;
  margin-top: 30vh;
  margin-left: 2vh;
}

.grid-item-2 {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  color: #091e42;
}

.grid-item-3 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #091e42;
}

.grid-item-4 {
  display: flex;
  gap: 2vh;
  padding-left: 0px;
}

.listing-section li {
  width: fit-content;
}

.grid-item-4 li {
  list-style-type: none;
}

.formating li {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.grid-item-4 li:active {
  background-color: white;
  color: black;
}

.t-b-stack {
  border-radius: 0px;
  border: 1.6px solid #121224;
  padding: 10px 8px 10px 8px;
  color: rgb(255, 255, 255);
}

.t-b-stack:hover {
  border: 2px solid #323264;
}

.t-b-stack:active {
  background-color: #091e42;
  color: white;
}

.t-stack {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.grid-item-5 {
  background-color: #c46710;
  width: 30vh;
  height: 10vh;
  border: 0vh;
  color: white;
}

.grid-item-5:hover {
  border: 2px solid #00008b;
}

.grid-item-5:active {
  background-color: #7f3318;
}

.see-project-t {
  font-family: 'Inter', sans-serif;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* end of first work-section-part */

.sec-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 3vh;
  margin-left: 0vh;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  justify-content: center;
  margin-top: 7vh;
}

.background {
  background-image: url('Img\ Place\ rest.png');
  background-size: cover;
  min-width: 355px;
  max-width: 100%;
  min-height: 70vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 3vh;
  margin-left: 2vh;
}

.sec-item-1 {
  max-width: 100%;
  border-radius: 0px;
  margin-top: 15vh;
  margin-left: 2vh;
  font-family: 'crete round', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  height: 0vh;
  min-width: auto;
}

.sec-item-2 {
  height: 60px;
  min-width: 65vh;
  max-width: 100%;
  margin-top: 2vh;
  margin-left: 2vh;
  font-family: 'inter', sans-serif;
  color: white;
  font-size: 20px;
}

.sec-item-3 {
  display: flex;
  min-height: 5vh;
  max-height: 100%;
  gap: 0vh;
  padding-left: 0vh;
}

.button {
  min-width: 13vh;
  max-width: 100%;
  min-height: 7vh;
  max-height: 100%;
  background-color: #ffffff59;
  border: 0px;
  margin-left: 2vh;
}

.button:hover {
  border: 2px solid #00008b;
}

.button:active {
  background-color: orange;
}

.but {
  color: white;
  font-family: 'inter', sans-serif;
}

.sec-item-5 {
  background-color: #c46710;
  width: 355px;
  height: 8vh;
  border: 0vh;
  color: white;
  position: absolute;
  margin-top: 62vh;
  margin-bottom: 20vh;
}

.sec-item-5:hover {
  border: 2px solid #00008b;
}

.sec-item-5:active {
  background-color: #7f3318;
}

.see-project {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'inter', sans-serif;
}

.last-sec-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 3vh;
  margin-left: 0vh;
  margin-bottom: 20vh;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  justify-content: center;
  margin-top: 7vh;
}

/* end of work section */
.about-section-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-right: 0%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.about-header {
  margin-top: 20vh;
}

.about-header-text {
  font-size: 80px;
  font-family: 'crete round', sans-serif;
  color: #ff6b00;
  font-weight: 300;
  margin-bottom: 3vh;
}

.about-paragraph {
  width: fit-content;
}

.about-paragraph-text {
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  color: white;
}

.resume-button {
  background-color: #c46710;
  width: 22vh;
  height: 7vh;
  border: 0vh;
  margin-top: 3vh;
}

.resume-button:active {
  background-color: #7f3318;
}

.resume-button:hover {
  border: 2px solid #00008b;
}

.b-button {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.about-img {
  width: 40vh;
  height: 40vh;
  align-self: flex-end;
}

.listing-section {
  margin-bottom: 20vh;
}

.languages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.frameworks-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-top: 10vh;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.ls-header {
  font-family: 'Inter', sans-serif;
  gap: 10vh;
}

.f-header {
  font-family: 'Inter', sans-serif;
  gap: 10vh;
}

.s-header {
  font-family: 'Inter', sans-serif;
  gap: 10vh;
}

.click {
  color: white;
  width: 190px;
  height: 50px;
  background-color: transparent;
  border: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.click:hover {
  border: 2px solid yellow;
}

.click:active {
  background-color: yellow;
  color: black;
  font-weight: 900;
}

.click-header {
  color: white;
  width: fit-content;
  height: 50px;
  background-color: transparent;
  border: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 5.5vh;
  font-weight: bold;
}

.click-header:hover {
  border: 2px solid blue;
}

.click-header:active {
  background-color: red;
}

li::marker {
  color: #ff6b00;
  margin: 0px;
}

.listing-section .ls-header {
  list-style-type: square;
}

.listing-section .f-header {
  list-style-type: square;
}

.listing-section .s-header {
  list-style-type: disc;
}

.large {
  width: fit-content;
}

/* end of about section */
