* {
  /* stylelint-disable length-zero-no-unit */
  margin: 0px;

  --font-family: 'poppins', sans-serif;
}

.mail {
  display: none;
}

body {
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
}

.container {
  background-color: #1c1a19;
  display: grid;
  grid-template-columns: 400px;
  gap: 5vh;
  justify-content: center;
  height: 900px;
}

.header {
  display: flex;
  background-color: #3c3a39;
  height: 15vh;
}

.navigation {
  margin-top: 5vh;
  margin-right: 5vh;
}

.logo-text {
  color: white;
  margin-top: 3vh;
  margin-left: 1.5vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  width: 100vh;
}

.menu-bar {
  width: 80px;
  height: 80px;
  margin-top: 6vh;
}

.section2 {
  display: grid;
  grid-template-columns: 300px;
  gap: 5vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.intro-text {
  display: flex;
  gap: 2vh;
  flex-direction: column;
}

.text1 {
  color: #ff6b00;
  font-size: 8vh;
  font-family: 'crete round';
  margin-left: 2vh;
  margin-top: 8vh;
}

.text2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  color: white;
  font-weight: 600;
  height: 10vh;
  margin-left: 2vh;
}

.text3 {
  font-family: 'poppins';
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: none;
  margin-left: 2vh;
}

ul {
  list-style-type: none;
}

.bottom {
  height: 38vh;
  gap: 3vh;
}

.image {
  width: 100vh;
  height: 100vh;
  transform: translate(-7vh, -90vh);
}

.linkedn {
  transform: translate(4vh, -5vh);
}

.angellist {
  transform: translate(11vh, -10vh);
}

.twitter {
  transform: translate(14vh, -15vh);
}

.github {
  transform: translate(21vh, -20vh);
}

@media only screen and (min-width: 375px) {
  .image {
    width: 100vh;
    height: 100vh;
    transform: translate(2vh, -90vh);
  }

  .linkedn {
    transform: translate(4vh, -6vh);
  }

  .angellist {
    transform: translate(11vh, -11.5vh);
  }

  .twitter {
    transform: translate(14vh, -17.5vh);
  }

  .github {
    transform: translate(21vh, -23.5vh);
  }
}

@media only screen and (min-width: 768px) {
  .image {
    width: 100vh;
    height: 100vh;
    transform: translate(-7vh, -90vh);
  }

  .linkedn {
    transform: translate(4vh, -5vh);
  }

  .angellist {
    transform: translate(11vh, -10vh);
  }

  .twitter {
    transform: translate(14vh, -15vh);
  }

  .github {
    transform: translate(21vh, -20vh);
  }
}

.part-2-container {
  min-width: 100%;
  min-height: auto;
}

.heading {
  display: flex;
  min-width: 28vw;
  max-width: 100%;
  min-height: auto;
  justify-content: center;
  margin-left: 5vh;
  margin-top: 20vh;
}

.head-text {
  align-items: center;
  position: absolute;
  top: 20vh;
}

.line-pos {
  justify-content: center;
  margin-top: 10vh;
  margin-left: 0vh;
  position: absolute;
}

.body-container {
  margin-top: 40vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  row-gap: 3vh;
  justify-content: center;
  margin-top: 15vh;
}

.grid-item-4 {
  display: flex;
  gap: 2vh;
  padding-left: 0px;
}

.grid-item-5 {
  background-color: rgb(196, 103, 16);
  width: 30vh;
  height: 10vh;
  border: 0vh;
  color: white;
}

.t-b-stack {
  border-radius: 0px;
  border: 1.6px solid rgb(33, 33, 54);
  padding: 10px 8px 10px 8px;
  color: rgb(255, 255, 255);
}

.t-b-stack:hover {
  border: 2px solid rgb(50, 50, 100);
}

.t-stack {
  font-family: var(--font-family), 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.see-project-t {
  font-family: var(--font-family), 'Inter', sans-serif;
  align-items: center;
  font-size: 20px;
  color: white;
}

/* grid 1 ends here */

.sec-grid-container {
  display: flex;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  row-gap: 3vh;
  justify-content: center;
  margin-top: 7vh;
}

.background {
  background-image: url('Img\ Place\ rest.png');
  background-size: cover;
  min-width: 355px;
  max-width: 100%;
  min-height: 70vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 3vh;
  margin-left: 2vh;
}

.sec-grid-item-1 {
  height: 45vh;
  width: 55vh;
  border-radius: 0px;
  margin-top: 15vh;
  margin-left: 2vh;
}

.text-1 {
  font-family: var(--font-family), 'crete round', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
  height: 0vh;
  min-width: auto;
}

.sec-grid-item-2 {
  height: 60px;
  width: 80vh;
  margin-top: 0vh;
  margin-left: 2vh;
}

.text-2 {
  font-family: var(--font-family), 'inter', sans-serif;
  color: white;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.sec-grid-item-3 {
  display: flex;
  height: 5vh;
  gap: 0vh;
  padding-left: 0vh;
}

.grid-item-rest-4 {
  display: flex;
  gap: 2vh;
  padding-left: 0px;
}

.button {
  width: 13vh;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.349);
  border: 0px;
  margin-left: 2vh;
}

.but {
  color: white;
  font-family: var(--font-family), 'inter', sans-serif;
}

.sec-grid-item-5 {
  background-color: rgb(196, 103, 16);
  width: 360px;
  height: 8vh;
  border: 0vh;
  color: white;
  position: absolute;
  margin-top: 62vh;
  margin-bottom: 20vh;
}

li {
  list-style-type: none;
}

.last-grid-container {
  display: flex;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  row-gap: 3vh;
  justify-content: center;
  margin-top: 7vh;
  margin-bottom: 20vh;
}

/* about page starts here */
.about-section {
  background-color: #1c1a19;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
}

.about-grid {
  display: grid;
  grid-template-columns: 330px;
  min-width: 28.4vw;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
  row-gap: 3.5vh;
  justify-content: center;
}

.about-h1-section {
  min-width: 28.4vw;
  max-width: 100%;
  height: 10vh;
  margin-top: 25vh;
}

.h1-text {
  color: #ff6b00;
  font-family: 'crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
}

/* .paragraph-section{} */

.paragraph-text {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  color: white;
  letter-spacing: normal;
}

/* .button-section{} */

.resume-button {
  background-color: rgb(196, 103, 16);
  width: 22vh;
  height: 7vh;
  border: 0vh;
}

.resume-button:hover {
  border: 2px solid darkblue;
}

.b-button {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

/* .diagram-section{} */
.about-img {
  margin-left: 22vh;
}

/* .about-line{} */

/* .listing-section {
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: 200;
  order: 10;
  flex-direction: column;
  gap: 5vh;
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  align-content: center;
} */

.ls-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  gap: 10vh;
}

.f-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  gap: 10vh;
}

.s-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  gap: 10vh;
}

.langs {
  margin-left: 10vh;
}

li .langs:hover {
  border: 2px solid red;
}

li::marker {
  color: #ff6b00;
}

.listing-section .ls-header {
  list-style-type: square;
}

.listing-section .f-header {
  list-style-type: square;
}

.listing-section .s-header {
  list-style-type: disc;
}

.languages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.frameworks-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-top: 10vh;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  gap: 4vh;
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.formating li {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}
