@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$background-color: #212529;
$primary-color-dark: #ffb742;
$secondary-color-dark: #fff;
$tertiary-color: #7b7b7b;
$other-color: #292b2e;
$neutral-light: #fff;
$neutral-dark: #000;

//fonts
$primary-font: 'Poppins', sans-serif;

// Light-mode
// $background-color: ;
// $primary-color-dark: ;
// $secondary-color-dark: ;
// $tertiary-color: ;
// $other-color: ;
