$background-color: #212529;
$primary-color-dark: #FFB742;
$secondary-color-dark: #FFFFFF;
$tertiary-color: #7B7B7B;
$other-color: #292B2E;
$neutral-light: #ffffff;
$neutral-dark: #000000


// Light-mode
// $background-color: ;
// $primary-color-dark: ;
// $secondary-color-dark: ;
// $tertiary-color: ;
// $other-color: ;