@import './partials/config';

@media screen and (min-width: 767px) {
  #About {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 100px;

    .pictureSection {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      // .background {
      //   width: 500px;
      //   height: 400px;
      //   background-image: url('src/assets/icons/aboutbackground.svg');
      //   background-position: center center;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   overflow: hidden;
      // }

      .container {
        position: relative;
        overflow: hidden;
        width: 100%;

        .content {
          width: fit-content;
          margin: 0 auto;
          background-image: url('src/assets/icons/aboutbackground.svg');
          background-position: center bottom;
          background-size: 98%;
          background-repeat: no-repeat;
          -webkit-mask-image: url('src/assets/icons/aboutbackground.svg');
          mask-image: url('src/assets/icons/aboutbackground.svg');
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-position: center bottom;
          mask-position: center bottom;

          img {
            object-fit: contain;
            width: fit-content;
            padding: 0px 20px;
            -webkit-mask-image: url('src/assets/icons/aboutbackground.svg');
            mask-image: url('src/assets/icons/aboutbackground.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: center bottom;
            mask-position: center bottom;
          }
        }
      }      
    }

    .detailsSection {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 15px;
      padding: 15px;

      .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;

        .detailsHeader {
          @include sectionTitle();
        }

        .aboutText {
          @include sectionTopText();
          font-size: 2rem;
        }
      }

      .paragraph {
        width: 100%;
        overflow: hidden;

        .text {
          text-align: left;
          color: $neutral-light;
          font-size: 0.98rem;
          font-family: $primary-font;
          font-weight: 500;
          line-height: 1.6rem;
          max-width: 600px;
          background-color: rgba($color: #000000, $alpha: 0.2);
          border-radius: 10px;
          padding: 10px;
          // padding-left: 5px;

          p {
            margin-bottom: 10px;
          }
        }
      }

      .buttonSection {
        width: 100%;
        margin-top: 35px;

        .aboutButton {
          @include button-base($primary-color-dark, $other-color, $primary-font);
          border-radius: 20px;
          width: 100px;
          justify-self: start;
          text-decoration: none;
          font-size: 0.9rem;
          padding: 10px 15px;
          font-weight: 600;
        }
      }
    }
  }
}