@import 'partials/config';

//base settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 400px;
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
}

.App {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}
