@media (max-width: 440px) {
  .Main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  .MainBlur {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    filter: blur(10px);
    overflow-x: hidden;
  }
}

@media (min-width: 441px) and (max-width: 767px) {
  .Main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  .MainBlur {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    filter: blur(10px);
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  .Main {
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    margin-top: 70px;
  }

  .MainBlur {
    display: grid;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    margin-top: 70px;
  }

  .testing {
    min-height: 400px;
  }
}
