@import './partials/config';

.messageHolder {
  width: 300px;
  height: 55px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

@keyframes messageAppears {
  0% {
    right: -50px;
    opacity: 0;
  }  

  50% {
    opacity: 1;
  }

  100% {
    right: 10px;
  }
}

@keyframes messageDisappears {
  0% {
    right: 10px;
    opacity: 1;
  }

  100% {
    right: -50px;
    opacity: 0;
  }
}

.message {}

.displaying {
  position: absolute;
  z-index: 1100;
  bottom: 0;
  right: -15;
  animation: messageAppears 0.5s linear forwards;
}

.dissapearing {
  animation: messageDissapears 0.5s linear forwards;
}