@import './partials/config';

.messageHolder {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  column-gap: 10px;
  width: 0px;
  height: 0px;
  opacity: 0;

  .messageIcon {
    width: 35px;
  }

  .message {
    height: fit-content;
    width: 80%;
    font-size: 0.9rem;
    font-family: $primary-font;
  }
}

@keyframes messageAppears {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 350px;
    height: 55px;
    opacity: 1;
  }
}

@keyframes messageDisappears {
  from {
    width: 350px;
    height: 55px;
    opacity: 1;
  }

  to {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

.display {
  position: absolute;
  z-index: 1100;
  bottom: 15px;
  right: 15px;
  width: 0px;
  height: 0px;
  animation: messageAppears 0.3s linear forwards;
}

.dissapear {
  position: absolute;
  z-index: 1100;
  bottom: 15px;
  right: 15px;
  width: 350px;
  height: 55px;
  animation: messageDissapears 0.3s linear forwards;
  display: none;
}
