@import './partials/config';

@media screen and (min-width: 767px) {
  .navigation {
    min-width: 100%;
    width: 100%;
    height: 70px;
    position: fixed;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
  
    nav {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 5px;
    }
  }

  .menuControls {
    display: none;
  }
  
  .navLogoPlacement {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 15px;
    justify-content: flex-start;
  
    img {
      min-width: 40px;
      width: 40px;
      height: 100%;
      object-fit: contain;
    }
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    min-width: 400px;
    width: 60%;
    height: 100%;
    justify-content: center;
    column-gap: 10px;
  
    a {
      text-decoration: none;
      color: $neutral-light;
      font-family: $primary-font;
    }
  }
  
  .navHireButton {
    display: flex;
    align-items: center;
    width: 20%;
    margin-right: 20px;
    padding-right: 10px;
    justify-content: flex-end;
  
    button {
      @include button-base($primary-color-dark, $other-color, $primary-font);
      border-radius: 20px;
      width: 100px;
      justify-self: start;
      cursor: pointer;
    }
  }    
}

@media screen and (max-width: 767px) {
  // .navigationBlurOverlay {
  //   background-color: rgba(136, 135, 61, 0.4);
  //   width: 100vw;
  //   height: 100vh;
  //   filter: blur(10px);
  //   position: absolute;
  //   z-index: 999;
  // }

  .navigation {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;

    nav {
      background-color: $other-color;
      width: 250px;
      height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }

  .menuControls {
    width: 99%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;


    .hamenu {
      width: 35px;
      box-sizing: border-box;
      object-fit: contain;
      cursor: pointer;
      position: absolute;
      left: 10px;
      display: none;
    }

    .closeButton {
      width: 20px;
      box-sizing: border-box;
      object-fit: contain;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  
  .navLogoPlacement {
    position: absolute;
    top: 10px;
    left: 5px;

    img {
      width: 50px;
    }
  }
  
  .navLinks {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 13px;
      
    a {
      padding-left: 12px;
      text-decoration: none;
      color: $neutral-light;
      font-size: 1.5rem;
      font-family: $primary-font;
      background-color: transparent;
      transition: background-color 800ms;

      &:hover {
        background-color: $primary-color-dark;
        color: $neutral-dark;
      }
    }
  }
  
  .navHireButton {
    margin-left: 12px;
      
    button {
      @include button-base($primary-color-dark, $other-color, $primary-font);
      border-radius: 20px;
      width: 100px;
      justify-self: start;
    }
  }

  .close {
    display: none;
  }

  .blur {
    filter: blur(10px);
  }
}