@import './partials/config';

@media screen and (max-width: 767px) {}

@media screen and (min-width: 767px) {
  #Testimonials {
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      margin-top: 40px;

      .titlecomp {
        font-family: $third-font;
        font-size: 1.5rem;
        color: $neutral-light;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
      }
    }

    .tms {
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
  }

  .recommendationsHolder {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 10px;
    margin-bottom: 35px;
    margin-top: 30px;

    .singleRecomendationHolder {
      border: 2px solid white;
      border-radius: 10px;
      width: 33.25%;
      min-width: 390px;
      max-width: 390px;
      padding: 0 10px;
      background-color: $neutral-light;
      box-shadow: 2px 2px 5px black;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 15px;

      .personalInformation {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;

        .coreInfo {
          width: 100%;
          display: flex;
          align-items: center;
          column-gap: 15px;
          margin-bottom: 10px;
          margin-top: 15px;

          .personal_Photo {
            max-width: 65px;
            border-radius: 50%;
          }

          .personal_name {
            font-weight: bold;
            font-size: 1rem;
            font-family: $secondary-font;
            color: #06f;
          }
        }

        .date_made {
          width: 100%;
          font-family: $third-font;
          color: $tertiary-color;
          font-size: 0.85rem;
          text-align: end;
          padding-right: 5px;
        }
      }

      .personalTitle {
        width: 100%;
        height: 20%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: end;

        .title {
          width: 100%;
          height: 80%;
          color: $semi-dark;
          font-size: 1rem;
          font-family: $third-font;
          margin-top: 10px;
        }

        .relation {
          width: 100%;
          height: 20%;
          color: $tertiary-color;
          font-size: 0.9rem;
          font-family: $primary-font;
          margin-top: 15px;
        }
      }

      .recommendation {
        width: 100%;
        height: 50%;
        max-height: 230px;
        min-height: 230px;
        overflow: hidden;

        .recommendationBlock {
          font-size: 1rem;
          font-family: $primary-font;
          position: relative;
          width: 100%;
          min-height: 100%;
          overflow: hidden;
          margin-bottom: 15px;

          &::after {
            content: "...";
            color: grey;
            font-size: 1.2rem;
          }

          .whiteLayer {
            width: 100%;
            height: 45%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
          }
        }
      }

      .extras {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10%;
        margin-bottom: 10px;

        .readmore {
          font-size: 1rem;
          font-family: $primary-font;
          color: #06f;
        }

        .linkednLogo {
          width: 25px;
        }
      }
    }

    .moreRecommendations {
      border: 0;
      border-radius: 10px;
      background-color: $primary-color-dark;
      font-family: $secondary-font;
      padding: 12px 15px;
      width: fit-content;
      margin: 0 auto;
      color: $neutral-dark;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $neutral-light;
        background-color: rgb(0, 140, 255);
      }
    }
  }

  #Testimonials > .header > .title {
    width: fit-content;
    margin: 0 auto;
    font-family: $primary-font;
    font-size: 0.9rem;
    color: $primary-color-dark;
    background-color: $other-color;
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
