@import './partials/config';

@media screen and (max-width: 767px) {
  .toggleHolder {
    background-color: $primary-color-dark;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 998;
    bottom: 10px;
    left: 10px;
    overflow: hidden;

    .toggleSetting {
      cursor: pointer;
      object-fit: contain;
      max-width: 100px;
      width: 100%;
      background-color: $neutral-dark;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}

@media screen and (min-width: 767px) {
  .toggleHolder {
    background-color: $primary-color-dark;
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 998;
    bottom: 15px;
    left: 15px;
    overflow: hidden;

    .toggleSetting {
      cursor: pointer;
      object-fit: contain;
      max-width: 100px;
      width: 100%;
      background-color: $neutral-dark;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
